



<player-bar></player-bar>

<app-hex-grid></app-hex-grid>



<!--<md-tab-group>
  <md-tab label="One">
    <h1>Some tab content</h1>
    <p>...</p>
  </md-tab>
  <md-tab label="Two">
    <h1>Some more tab content</h1>
    <p>...</p>
  </md-tab>
</md-tab-group>-->


<md-tab-group>
  <md-tab>
    <template md-tab-label>
      The <em>best</em> pasta
    </template>
    <h1>Best pasta restaurants</h1>
    <p>...</p>
  </md-tab>
  <md-tab>
    <template md-tab-label>
       The worst sushi
    </template>
    <h1>Terrible sushi restaurants</h1>
    <p>...</p>
  </md-tab>
</md-tab-group>

<!--

<md-tab-group>
	<md-tab label="Map">
		<app-hex-grid></app-hex-grid>
	</md-tab>
	<md-tab label="User">
		<h2>USER INFO</h2>
		<p>dang what</p>
	</md-tab>
	<md-tab label="Lannisters">
		<ul>
			<li>Tywin</li>
			<li>Cersei</li>
			<li>Jamie</li>
			<li>Tyrion</li>
		</ul>
	</md-tab>
</md-tab-group>-->




<!--<div class="mdl-tabs mdl-js-tabs">
	<div class="mdl-tabs__tab-bar">
		<a href="#map-panel" class="mdl-tabs__tab is-active">MAP</a>
		<a href="#lannisters-panel" class="mdl-tabs__tab">Lannisters</a>
		<a href="#targaryens-panel" class="mdl-tabs__tab">Targaryens</a>
	</div>
	
	<div class="mdl-tabs__panel is-active" id="map-panel">
		<app-hex-grid></app-hex-grid>
	</div>

	<div class="mdl-tabs__panel" id="lannisters-panel">
		<ul>
			<li>Tywin</li>
			<li>Cersei</li>
			<li>Jamie</li>
			<li>Tyrion</li>
		</ul>
	</div>
	<div class="mdl-tabs__panel" id="targaryens-panel">
		<ul>
			<li>Viserys</li>
			<li>Daenerys</li>
		</ul>
	</div>
</div>-->


