<p>
  player-bar works!
</p>


<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--6-col">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
			EXP
		</button>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
			INF
		</button>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
			RES
		</button>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
			UPG
		</button>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
			BUI
		</button>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
			MOV
		</button>
	</div>
	<div class="mdl-cell mdl-cell--3-col">
		ass clowns
	</div>
	<div class="mdl-cell mdl-cell--3-col">
		dudes
	</div>
</div>