


<!--   WORKING WITH JUST REGULAR DIVS -->
<!--
<div>
	<div class="hex-row" *ngFor="let row of rows;let i = index; trackBy: trackRow">
		<div *ngFor="let col of columns; let i = index" class="hex" [ngClass]="{'even': (i+1) % 2 == 0}">
			<div class="left"></div><div class="middle"></div><div class="right">
		</div>
	</div>
</div>
-->

<!-- WORKING WITH COMPONENT -->
<!--<div>
	<div class="hex-row" *ngFor="let row of rows;let i = index; trackBy: trackRow">
		<app-hex-tile *ngFor="let col of columns; let x = index" [row]="i" [column]="x" [color]="hexColor"></app-hex-tile>			
	</div>
</div>-->

<!--[row]="row.y" 
			[column]="row.x" 
			[color]="row.color"-->

<!-- WORKING WITH MATRIX -->
<div *ngIf="showGrid">
	<div class="hex-row" *ngFor="let col of matrix; let i = index; trackBy: trackRow">
		<app-hex-tile *ngFor="let row of col; let x = index" 
			
			[tile]="row"
			[sideWidth]="sideWidth"
			[topBottomWidth]="topBottomWidth"
			(hexSelected)="hexSelected($event)"></app-hex-tile>
	</div>
</div>

<div *ngIf="!showGrid">
	<h2>showing hex</h2>
	<button (click)="showGrid = true">Close</button>
	{{ selectedHex }}
</div>
