


<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--5-col">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
			EXP
		</button>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
			INF
		</button>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
			RES
		</button>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
			UPG
		</button>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
			BUI
		</button>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
			MOV
		</button>
	</div>
	<div class="mdl-cell mdl-cell--7-col discContainer" *ngIf="playerData">
		
		<div *ngFor="let disc of totalDiscs" class="actionDisc" [ngClass]="{'availableDisc' : disc.available, 'usedDisc': !disc.available }" >
			{{ disc.number }}
		</div>

	</div>


	<div class="mdl-cell mdl-cell--2-col">
		<div class="moneyContainer">
			<span>INCOME</span>
			<money-box colorClass="gl_orange" [amount]="3"></money-box>
			<money-box colorClass="gl_pink" [amount]="3"></money-box>
			<money-box colorClass="gl_brown" [amount]="3"></money-box>
		</div>

		

	</div>
	<div class="mdl-cell mdl-cell--2-col">
		<div class="moneyContainer">
			<span>CURRENT</span>
			<money-box colorClass="gl_orange" [amount]="3"></money-box>
			<money-box colorClass="gl_pink" [amount]="3"></money-box>
			<money-box colorClass="gl_brown" [amount]="3"></money-box>
		</div>
	</div>
	<div class="mdl-cell mdl-cell--3-col" md-tooltip="tiles remaining per region" tooltip-position="below">
		<table >
			<tr>
				<th>INNER</th>
				<th>MIDDLE</th>
				<th >OUTER</th>
			</tr>
			<tr>
				<td>{{mapData.counts.divisionOne}} </td>
				<td>{{mapData.counts.divisionTwo}} </td>
				<td>{{mapData.counts.divisionThree}} </td>
			</tr>
		</table>
	</div>
	<div class="mdl-cell mdl-cell--3-col">
		colony ships
	</div>
</div>