
<!--
 [ngClass]="{'even': (column + 1) % 2 == 0}"
 -->

<!--<div class="hex" *ngIf="(column + 1) % 2 == 1" (click)="hexClick()">
	<div class="left" 
		[style.border-right-color]="color"
		[style.border-right-width]="sideWidthString"
		[style.border-top-width]="topBottomString"
		[style.border-bottom-width]="topBottomString">
	</div>
	<div class="middle" 
		[style.background]="color"
		[style.width]="middleWidth"
		[style.height]="middleHeight">	
	</div>
	<div class="right" 
		[style.border-left-color]="color"
		[style.border-left-width]="sideWidthString"
		[style.border-top-width]="topBottomString"
		[style.border-bottom-width]="topBottomString">

	</div>
</div>


<div class="hex" *ngIf="(column + 1) % 2 == 0" [style.margin-top]="marginTopString" (click)="hexClick()">	
	<div class="left"

		[style.border-right-color]="color"
		[style.border-right-width]="sideWidthString"
		[style.border-top-width]="topBottomString"
		[style.border-bottom-width]="topBottomString">
	</div>
	<div class="middle" 
		[style.background]="color"
		[style.width]="middleWidth"
		[style.height]="middleHeight">	
	</div>
	<div class="right" 
		[style.border-left-color]="color"
		[style.border-left-width]="sideWidthString"
		[style.border-top-width]="topBottomString"
		[style.border-bottom-width]="topBottomString">

	</div>
</div>-->



<div class="hex" 
	[style.margin-top]="marginTopString"
	[style.margin-right]="negMarginRight"
	[style.margin-bottom]="negMarginBottom"
	 (click)="hexClick()">	
	<div class="left"
		[style.border-right-color]="tile.color"
		[style.border-right-width]="sideWidthString"
		[style.border-top-width]="topBottomString"
		[style.border-bottom-width]="topBottomString">
	</div>
	<div class="middle" 
		[style.background]="tile.color"
		[style.width]="middleWidth"
		[style.height]="middleHeight">	
	</div>
	<div class="right" 
		[style.border-left-color]="tile.color"
		[style.border-left-width]="sideWidthString"
		[style.border-top-width]="topBottomString"
		[style.border-bottom-width]="topBottomString">

	</div>
</div>