/* You can add global styles to this file, and also import other style files */

.gl_orange {
    background-color: #bf5a16;
}

.gl_brown {
    background-color: #532709;
}

.gl_pink {
    background-color: #D46A6A;
}

body {
    font-family: Roboto;
}